## Importa bibliotecas

In [28]:
import pandas as pd
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

## Le arquivo

In [5]:
dados = pd.read_csv("data.csv")
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [16]:
## Renomeia colunas
colunas = {
    "home": "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou"
}
dados = dados.rename(columns=colunas)

In [17]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [19]:
## formato dos dados
dados.shape

(99, 4)

In [23]:
## Cria dados de treino e teste
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

In [26]:
## Cria modelo

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [27]:
previsoes = modelo.predict(teste_x)

In [30]:
## Acuracia
accuracy_score(teste_y, previsoes)

0.9583333333333334